/* Container styling */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  max-width: 800px;
  margin: 1rem auto;
  /* background-color: #f8f9fa; */
  /* border-radius: 8px; */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
}


.contact-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}


.contact-options {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}
.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s; 
}

.instagram {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}
.linktree {
  background: linear-gradient(45deg, #44f529, #063b18, #34af3c, #51d4a0);
}
.instagram:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #515bd4, #8134af, #dd2a7b, #f58529);
}

.whatsapp {
  background: linear-gradient(45deg, #25d366, #128c7e);
}

.whatsapp:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #128c7e, #25d366);
}
.facebook {
  background: linear-gradient(45deg, #3b5998, #8b9dc3);
}
.facebook:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #8b9dc3, #3b5998);
}

.mail {
  background: linear-gradient(45deg, #d44638, #ff6d2e);
}

.mail:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #ff6d2e, #d44638);
}

.youtube {
  background: linear-gradient(45deg, #ff0000, #c4302b);
}
.youtube:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #c4302b, #ff0000);
}




.contact-link:hover svg {
  color: #fff;
}
.contact-link[aria-label="instagram"] {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}

.contact-link:hover {
  background-color: #0056b3;
}


.contact-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
    box-shadow: none;
  }

  .contact-options {
    flex-direction: row;
    gap: 10px;
  }
}
