@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-thumbnail.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-autoplay.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-fullscreen.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-share.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-rotate.css');



.lg-react-element {
  column-count: 3; /* Displays images in three columns */
  column-gap: 10px; /* Gap between columns */
  
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid red;
}

.thumblin-img {
  width:330px; /* Adjusts the image width */
  display: block;
  padding: 5px;
  border-radius: 10px;
  transition: transform 0.2s ease; /* Smooth scaling effect */

}

img:hover {
  filter: opacity(0.9); /* Slight opacity change on hover */
  transform: scale(1.01); /* Scales image slightly */
}
