/* Service Container Styling */

.service-container {
  text-align: center;
  padding: 40px;
  background-color: #f7f7f9;
}

.service-container h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #2d3748;
  font-weight: 700;
}

/* Grid Styling */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

/* Service Card Styling */
.service-card {
  background: linear-gradient(135deg, #ffffff, #f5f5f5);
  border-radius: 12px;
  overflow: hidden;
  width: 75%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Service Image Styling */
.service-image-wrapper {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Service Title Styling */
.service-title {
  padding: 20px;
  font-size: 1.2em;
  font-weight: 600;
  color: #4a5568;
  border-top: 1px solid #e2e8f0;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .service-card{
    width: 100%;
  }
  .service-image-wrapper{
    height:150px;
  }
  .service-container h2 {
    font-size: 2em;
  }

  .service-title {
    font-size: 1.1em;
  }
}

@media (min-width: 1024px) {
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
