.bg-image{
    background-image: url('../../Assets/IntroImage.webp'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.intro-text h1 p button{
  opacity: 1;
}