.bg-image{
    background-image: url('../../Assets/IntroImage.webp'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
 
}
.intro-text h1 p button{
  opacity: 1;
}


@media only screen and (min-width: 1366px) and (max-width: 1440px) {
    .SizeContenar-14{
        margin-top: 8rem;
    }
}
