/* Footer container styling */
.footer {
    background-color: #2e2e2e;
    padding: 40px 20px;
    color: #ffffff;
}
.copyRight{
    background-color: #2e2e2e; 
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 12px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    
    margin: 20px;
    /* text-align: center; */
}

/* Company Info Styling */
.company-info {
    text-align: center;

}

.footer-logo {
    width: 80px;
    margin-bottom: 10px;
    
}

.company-info p {
    font-size: 14px;
    color: #bbbbbb;
}

/* Quick Links Styling */
.links h3 {
    color: #f1c40f;
    font-size: 18px;
    margin-bottom: 10px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin: 5px 0;
}

.links ul li a {
    text-decoration: none;
    color: #bbbbbb;
    transition: color 0.3s;
}

.links ul li a:hover {
    color: #f1c40f;
}

/* Newsletter Subscription Styling */


.newsletter h3 {
    color: #f1c40f;
    font-size: 18px;
    margin-bottom: 10px;
}

.newsletter p {
    color: #bbbbbb;
    margin-bottom: 10px;
}

/* Input and Button Inline */
.newsletter-input-container {
    display: flex;
    /* gap: 10px; */
    /* width: 100%; */
}

.newsletter-input {
    flex: 1;
    padding: 10px;
    border: none;
    /* border-radius: none; */
    margin-bottom: 0;
}

.subscribe-button {
    padding: 10px 15px;
    background-color: #f1c40f;
    color: #2c2c2c;
    border: none;
    /* border-radius: 5px; */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: #d4ac0d;
}
/* Social Media Styling */
.social h3 {
    color: #f1c40f;
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    color: #bbbbbb;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #f1c40f;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}
