.about-container {
  padding: 2rem;
}

.about-header {
  text-align: center;
  margin-bottom: 2rem;
}

.about-header h1 {
  font-size: 2.5rem;
  color: #0c4b65;
}

.about-header p {
  font-size: 1.2rem;
  color: #4a4a4a;
 
}

/* Layout for the Founder and Description sections */
/* .founder-description-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
} */

/* .founder-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */

.founder-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.founder-info h3 {
  font-size: 1.8rem;
  color: #0c4b65;
}

.founder-info p {
  font-size: 1.1rem;
  color: #585757;
}



@media (min-width: 768px) {
  .founder-description-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .founder-section {
    flex: 1;
    align-items: flex-start;
    text-align: left;
    padding-right: 2rem;
  }
  
  .about-description {
    flex: 1;
    padding-left: 2rem;
  }
}

/* Team Section */


/* .team-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
} */

.team-card {
  background-color: #f7f7f7;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team-card img {

  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
 
}

.team-description {
  color: #5a5a5a;
  margin-top: 0.5rem;
}
